h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.btn {
  display: block;
  padding: 20px;
  text-decoration: none!important;
  font-family: sans-serif;
  margin: auto;
  width: 150px;
  text-align: center;
  margin-top: 20px;
  color: #FFF;
  background-color: #132249;
  border: 1px solid #ddd;
  border-radius: 4px;
}